@model vitacure.Models.ViewModels.Admin.UserListViewModel

@{
    ViewData["Title"] = "Kullanicilar";
}

<div class="admin-page-grid" data-admin-async-root="true" data-admin-async-endpoint="/admin/users">
    @await Html.PartialAsync("~/Areas/Admin/Views/Users/_ListContent.cshtml", Model)
</div>

@section Scripts {
    <script src="~/js/pages/admin-async-panel.js" asp-append-version="true"></script>
}
