@model vitacure.Models.ViewModels.Admin.BrandListViewModel

@{
    ViewData["Title"] = "Markalar";
}

<div class="admin-page-grid" data-admin-async-root="true" data-admin-async-endpoint="/admin/brands">
    @await Html.PartialAsync("~/Areas/Admin/Views/Brands/_ListContent.cshtml", Model)
</div>

@section Scripts {
    <script src="~/js/pages/admin-async-panel.js" asp-append-version="true"></script>
}
