@model HomeViewModel

@section Styles {
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="~/css/components/chat-widget.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/product-card.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/banner-card.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/category-pill.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/section-header.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/pages/home.css" asp-append-version="true" />
}

<div class="container-fluid p-0 home-page">
    @await Html.PartialAsync("~/Views/Home/Partials/_HeroSection.cshtml", Model)
    @await Html.PartialAsync("~/Views/Home/Partials/_FeaturedProducts.cshtml", Model)
    @await Html.PartialAsync("~/Views/Home/Partials/_PopularSupplements.cshtml", Model)
    @await Html.PartialAsync("~/Views/Home/Partials/_Campaigns.cshtml", Model)
    @await Html.PartialAsync("~/Views/Home/Partials/_OpportunityProducts.cshtml", Model)
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="~/js/components/chat-widget.js" asp-append-version="true"></script>
    <script src="~/js/components/product-card.js" asp-append-version="true"></script>
    <script src="~/js/pages/home.js" asp-append-version="true"></script>
}
