@model vitacure.Models.ViewModels.Admin.TagListViewModel

@{
    ViewData["Title"] = "Etiketler";
}

<div class="admin-page-grid" data-admin-async-root="true" data-admin-async-endpoint="/admin/tags">
    @await Html.PartialAsync("~/Areas/Admin/Views/Tags/_ListContent.cshtml", Model)
</div>

@section Scripts {
    <script src="~/js/pages/admin-async-panel.js" asp-append-version="true"></script>
}
