@model vitacure.Models.ViewModels.Admin.AdminNotificationModuleViewModel

<div class="admin-page-grid" id="adminNotificationsRoot" data-admin-async-root="true" data-admin-async-endpoint="/admin/notifications">
    @await Html.PartialAsync("~/Areas/Admin/Views/Notifications/_NotificationContent.cshtml", Model)
</div>

@section Scripts {
    <script src="~/js/pages/admin-async-panel.js" asp-append-version="true"></script>
}
