@model vitacure.Models.ViewModels.Admin.CategoryListViewModel

@{
    ViewData["Title"] = "Kategoriler";
}

<div class="admin-page-grid" data-admin-async-root="true" data-admin-async-endpoint="/admin/categories">
    @await Html.PartialAsync("~/Areas/Admin/Views/Categories/_ListContent.cshtml", Model)
</div>

@section Scripts {
    <script src="~/js/pages/admin-async-panel.js" asp-append-version="true"></script>
}
